<table>
  <tbody>
    <tr>
      <td><p>Thanks for signing up for Bikes Berlin.  Our website is updated regulary and has a great following in regards to comments.  </p></td>
    </tr>
    
  </tbody>
</table>
